.pseudo-title {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.pseudo-title:before,
.pseudo-title:after {
    color: #287cf6;
}


.pseudo-title:before {
    content: '??';
}

.pseudo-title:after {
    content: '!!';
}











/*//////////////////////////*/
.pseudo-test {
    font-size: 25px;
    text-align: center;
    position: relative;
}

.pseudo-test:before {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #1a6eec;
    margin: 0 auto;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -35px;
}

.pseudo-test:after {
    content: '';
    display: block;
    width: 75px;
    height: 3px;
    background-color: #525c6b;
    margin: 0 auto;
}
/*//////////////////////////////*/



.pseudo-text p:first-letter {
    color: #8c0962;
    font-size: 35px;
}
.pseudo-text p:first-line {
    color: #fa4e4e;
}
