* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before {
    box-sizing: border-box;
}
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Circe', 'sans-serif';
    background-color: #090A1A;
    color: #eeeeee;
}

button {
    font-family: inherit;
    font-size: inherit;
    outline: none !important;
}

